body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
        }

        
 header {
        background-color: #fcfcfc;
        padding: 1rem 0;
        }

        nav {
            display: flex;
            justify-content: space-evenly; 
            align-items: center;
            padding: 0 20px;
        }

        nav a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 14px 20px;
            text-align: center;
        }
   
        .dropdown {
            position: relative;
        }

        .dropbtn {
            font-size: 16px;
            color: #e085c0;
            padding: 14px 20px;
            background-color: #f4f4f4;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f4f4f4;
            min-width: 160px;
            z-index: 1;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: #cb79ae;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f4f4f4;
            color: rgb(19, 179, 176);
        }

        
        .dropdown:hover .dropdown-content {
            display: block;
        }

  
        h1 {
            text-align: center;
            font-size: 2.5rem;
        }

       
        @media (max-width: 768px) {
            nav {
                flex-direction: column;
                align-items: flex-start;
            }

            .dropdown-content {
                width: 100%;
            }

            .dropbtn {
                width: 100%;
                text-align: left;
            }

            nav a {
                padding: 12px 18px;
            }
        }